@{
    ViewData["Title"] = "Register";
    Layout = "_FormLayout";
}
@using Library.ViewModels;

@model RegisterViewModel;

<div class="register-div">
    <h1 class="text-center">Register</h1>
    @Html.ValidationSummary(false , "" , new {@class = "text-danger"})
    <p class="text-danger">Passwords must contain a at least 8 characters an uppercase , a lowercase , and digits</p>
    @using (Html.BeginForm("Register" , "Account" , FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName , new {@class = "form-label"})
            @Html.TextBoxFor(model => model.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName , new {@class = "form-label"})
            @Html.TextBoxFor(model => model.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email , new {@class = "form-label"})
            @Html.TextBoxFor(model => model.Email , new {type = "email"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password , new {@class = "form-label"})
            @Html.PasswordFor(model => model.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword , new {@class = "form-label"})
            @Html.PasswordFor(model => model.ConfirmPassword)
        </div>
        <div class="text-center">
            <input value="Submit" class="btn btn-dark" type="submit">
        </div>
    }
</div>